@model IEnumerable<Wardrobe.Data.Garment>

@{
    ViewBag.Title = "GetGarments";
}

<h2>GetGarments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GarmentOutfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weather)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Features)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GarmentWear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GarmentType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GarmentOutfit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weather)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Features)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GarmentWear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mending)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GarmentType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Garment_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Garment_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Garment_ID })
        </td>
    </tr>
}

</table>
